node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.DS_Store
.vscode
.idea
dist
build
coverage
.next
out
.nyc_output
*.tsbuildinfo
docker
docs
.github
.husky
temp-md-to-pdf-mermaid.js
README.md
Makefile
